@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 0;
  }

  body {
    visibility: hidden;
  }

  #preview-classic, #preview-classic *,
  #preview-modern-template, #preview-modern-template * {
    visibility: visible;
  }

  #preview-classic, #preview-modern-template {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .resume-builder-preview {
    overflow: visible !important;
  }
}